* {
    box-sizing: border-box;
  }
  
input {
    background-color: transparent;
    color: black;
    border: none;
    width: 30%;
    height: 50px;
    border-radius: 6px;

    
}
input:hover{
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
}
body{
    background-color:rgb(246, 203, 150);
}
a{
    margin: 10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.frontpageimage{
    width: 200px;
    height: 200px;
}

p {
    color: black;
    width: 70%;
    font-size: 125%;
    font-family: "Georgia", "Times New Roman", serif;
    line-height: 1.3;
    margin-left: 20px;
}

.textandimages{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
}

img {
    border: 5px solid white;
    border-radius: 50px;
}